{% extends 'layout.html.twig' %}

{% block title %}Регистрация{% endblock %}


{% block breadcrumbs_inner %}
    <li class="breadcrumb-item active">
        Регистрация
    </li>
{% endblock %}

{% block content %}
    <section>
        <div class="container-xl">
            <div class="row justify-content-around">
                <div class="col-xs-8">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
