{# @var items \App\Menu\MenuItem[] #}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% for item in items %}
        {% set item_has_children = item.children is not empty %}
        <li class="nav-item {% if item_has_children %}dropup{% endif %}">
            <a class="nav-link {% if item_has_children %}dropdown-toggle{% endif %}"
               href="{{ item.path }}"
               {% if item_has_children %}id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false"{% endif %}
            >
                {{ item.title }}
            </a>
            {% if item_has_children %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for child in item.children %}
                        <li>
                            <a class="dropdown-item" href="{{ child.path }}">
                                {{ child.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
